Repository leoxchang/RuoYi-Vue3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frame_ui

build_backend:
  stage: build
  before_script:
  - chmod 755 dingding.sh && export job_name="job_start" && ./dingding.sh
  script:
  - chmod 755 build.sh && export module_name="frame-backend" && ./build.sh
  after_script:
  - chmod 755 dingding.sh && export job_name="job_end" && ./dingding.sh

build_frame_ui:
  stage: build
  image: node:18-alpine
  before_script:
  - chmod 755 dingding.sh && export job_name="job_start" && ./dingding.sh
  script:
  - chmod 755 build.sh && export module_name="frame-ui" && ./build.sh
  after_script:
  - chmod 755 dingding.sh && export job_name="job_end" && ./dingding.sh

feat: 构建
  truntao-vue3/src/layout/components/Sidebar/Logo.vue
Due: build_frame_ui

feat: 构建
  truntao-vue3/src/a.txt
Due: build_frame_ui

feat: 优化代码
  truntao-vue3/src/layout/components/Settings/index.vue
  truntao-vue3/src/layout/index.vue
Due: build_frame_ui

feat: 初始密码支持自定义修改策略
  truntao-vue3/src/router/index.ts
  truntao-vue3/src/store/modules/user.ts
  truntao-vue3/src/views/system/user/profile/index.vue
Due: build_frame_ui

先注释掉钉钉
  dingding.sh
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

feat: 新增用户默认初始化密码
  truntao-vue3/src/main.ts
  truntao-vue3/src/types/global.d.ts
  truntao-vue3/src/views/system/user/index.vue
Due: build_frame_ui

feat: 账号密码支持自定义更新周期
  truntao-vue3/src/store/modules/user.ts
Due: build_frame_ui

feat: 添加页签图标显示开关功能
  truntao-vue3/src/layout/components/Settings/index.vue
  truntao-vue3/src/layout/components/TagsView/index.vue
  truntao-vue3/src/settings.ts
  truntao-vue3/src/store/modules/settings.ts
Due: build_frame_ui

feat: 添加底部版权信息及开关
  truntao-vue3/src/layout/components/AppMain.vue
  truntao-vue3/src/layout/components/Copyright/index.vue
  truntao-vue3/src/layout/components/Settings/index.vue
  truntao-vue3/src/settings.ts
  truntao-vue3/src/store/modules/settings.ts
Due: build_frame_ui

feat: 若依 3.9.0
  truntao-vue3/package.json
Due: build_frame_ui

feat: 升级组件依赖到最新版本
  truntao-vue3/package.json
  truntao-vue3/src/assets/styles/btn.scss
  truntao-vue3/src/assets/styles/index.scss
  truntao-vue3/src/assets/styles/sidebar.scss
  truntao-vue3/src/layout/index.vue
Due: build_frame_ui

feat: 消除控制台警告信息
  truntao-vue3/package.json
  truntao-vue3/src/components/Crontab/index.vue
  truntao-vue3/src/views/tool/gen/editTable.vue
Due: build_frame_ui

feat: 支持暗黑模式
  truntao-vue3/package.json
  truntao-vue3/src/assets/icons/svg/moon.svg
  truntao-vue3/src/assets/icons/svg/sunny.svg
  truntao-vue3/src/assets/styles/index.scss
  truntao-vue3/src/assets/styles/sidebar.scss
  truntao-vue3/src/assets/styles/truntao.scss
  truntao-vue3/src/assets/styles/variables.module.scss
  truntao-vue3/src/components/Crontab/index.vue
  truntao-vue3/src/components/Hamburger/index.vue
  truntao-vue3/src/components/TopNav/index.vue
  truntao-vue3/src/components/TreeSelect/index.vue
  truntao-vue3/src/layout/components/AppMain.vue
  truntao-vue3/src/layout/components/Navbar.vue
  truntao-vue3/src/layout/components/Settings/index.vue
  truntao-vue3/src/layout/components/Sidebar/Logo.vue
  truntao-vue3/src/layout/components/Sidebar/index.vue
  truntao-vue3/src/layout/components/TagsView/index.vue
  truntao-vue3/src/main.ts
  truntao-vue3/src/settings.ts
  truntao-vue3/src/store/modules/settings.ts
Due: build_frame_ui

fix: 升级oshi到最新版本6.8.1，升级commons.io到最新版本2.19.0
  truntao-backend/pom.xml
Due: build_backend

fix: 初始密码支持自定义修改策略
  truntao-backend/sql/ry_20230706_mysql.sql
  truntao-backend/sql/ry_20230706_oracle.sql
  truntao-backend/truntao-admin/src/main/java/com/truntao/web/controller/system/SysLoginController.java
  truntao-backend/truntao-common/src/main/java/com/truntao/common/core/domain/dto/SysUserDTO.java
  truntao-backend/truntao-common/src/main/java/com/truntao/common/core/domain/entity/SysUser.java
  truntao-backend/truntao-system/src/main/java/com/truntao/system/domain/dto/LoginUserInfoDTO.java
  truntao-backend/truntao-system/src/main/resources/mapper/system/mysql/SysUserMapper.mysql
  truntao-backend/truntao-system/src/main/resources/mapper/system/oracle/SysUserMapper.oracle
Due: build_backend

fix: 账号密码支持自定义更新周期
  truntao-backend/sql/ry_20230706_mysql.sql
  truntao-backend/sql/ry_20230706_oracle.sql
  truntao-backend/truntao-admin/src/main/java/com/truntao/web/controller/system/SysLoginController.java
  truntao-backend/truntao-system/src/main/java/com/truntao/system/domain/dto/LoginUserInfoDTO.java
Due: build_backend

fix: update pwdUpdateDate
  truntao-backend/truntao-admin/src/main/java/com/truntao/web/controller/system/SysProfileController.java
Due: build_backend

fix: 注册账号设置默认密码最后更新时间
  truntao-backend/truntao-system/src/main/java/com/truntao/system/service/impl/SysUserServiceImpl.java
Due: build_backend

fix: 升级fastjson到最新版2.0.57
  truntao-backend/pom.xml
Due: build_backend

Path conditions:
  build_backend: any of: truntao-backend/**/*
  build_frame_ui: any of: truntao-vue3/**/*
