Repository leoxchang/RuoYi-Vue3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frame_ui

build_backend:
  stage: build
  before_script:
  - chmod 755 dingding.sh && export job_name="job_start" && ./dingding.sh
  script:
  - chmod 755 build.sh && export module_name="frame-backend" && ./build.sh
  after_script:
  - chmod 755 dingding.sh && export job_name="job_end" && ./dingding.sh

build_frame_ui:
  stage: build
  image: node:18-alpine
  before_script:
  - chmod 755 dingding.sh && export job_name="job_start" && ./dingding.sh
  script:
  - chmod 755 build.sh && export module_name="frame-ui" && ./build.sh
  after_script:
  - chmod 755 dingding.sh && export job_name="job_end" && ./dingding.sh

feat: 构建
  truntao-vue3/src/a.txt
Due: build_frame_ui

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add new file
  truntao-backend/a.txt
Due: build_backend

Update dingding.sh
  dingding.sh
Due: none

Delete a.txt
  truntao-backend/a.txt
Due: build_backend

Delete a.txt
  truntao-vue3/src/a.txt
Due: build_frame_ui

Add new file
  truntao-vue3/a.txt
Due: build_frame_ui

feat: 修改暗黑模式问题
  truntao-vue3/src/views/system/user/index.vue
Due: build_frame_ui

Delete a.txt
  truntao-vue3/a.txt
Due: build_frame_ui

feat: update transition enter
  truntao-vue3/src/assets/styles/transition.scss
Due: build_frame_ui

feat: 显示列信息支持对象格式
  truntao-vue3/src/components/RightToolbar/index.vue
  truntao-vue3/src/views/system/user/index.vue
Due: build_frame_ui

feat: columns default value
  truntao-vue3/src/components/RightToolbar/index.vue
Due: build_frame_ui

feat: 优化checkbox废弃API
  truntao-vue3/src/views/tool/gen/editTable.vue
Due: build_frame_ui

feat: 用户归属部门新增清除
  truntao-vue3/src/views/system/user/index.vue
Due: build_frame_ui

feat: 升级element-plus到最新版本2.10.7
  truntao-vue3/package.json
Due: build_frame_ui

feat: 优化布局设置显示
  truntao-vue3/src/layout/components/Navbar.vue
Due: build_frame_ui

feat: 用户导入添加验证提示
  truntao-vue3/src/views/system/user/index.vue
Due: build_frame_ui

feat: 优化代码
  truntao-backend/truntao-system/src/main/java/com/truntao/system/mapper/SysUserMapper.java
  truntao-backend/truntao-system/src/main/java/com/truntao/system/service/ISysUserService.java
  truntao-backend/truntao-system/src/main/java/com/truntao/system/service/impl/SysUserServiceImpl.java
  truntao-backend/truntao-system/src/main/resources/mapper/system/oracle/SysUserMapper.oracle
Due: build_backend

feat: 升级oshi到最新版本6.8.3
  truntao-backend/pom.xml
Due: build_backend

feat: 支持防盗链功能
  truntao-backend/truntao-admin/src/main/resources/application.yml
  truntao-backend/truntao-common/src/main/java/com/truntao/common/filter/RefererFilter.java
  truntao-backend/truntao-framework/src/main/java/com/truntao/framework/config/FilterConfig.java
Due: build_backend

Path conditions:
  build_backend: any of: truntao-backend/**/*
  build_frame_ui: any of: truntao-vue3/**/*
